<!DOCTYPE html>
<html>
    <head>
        <title>runSF</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

            Keen.configure({
                projectId: "534d7579d97b8517c500000a",
                writeKey: "d5c16a58a44f847b6b73ab5dff11c9fc75c1e442ddef14a930c5484dce53ba941220e9e4420b3792d0dd51a58f848b2dace38c67245a786026c470c7c656dc64cac35169b0fb4570b57334b92aee51fae2a7ed08ece150e58bee93036bfd848b8597347da5d21d8bbef6a70ed1de8efb"
            });
        </script>
    </head>
    <body>
        <div id="bottom-bar">
            <div id="routeinfo">
            </div>
            <div id="reset"><button>New route</button></div>
            <div id="info"><p>An <a href="https://github.com/lbud/run_sf" target="_blank" onclick="return Keen.trackExternalLink(this, 'visit_github');">experiment</a> by <a href="https://twitter.com/lbudorick" target="_blank" onclick="return Keen.trackExternalLink(this, 'visit_twitter');">@lbudorick</a></p></div>
        </div>
        <div id="everything-wrapper">
            <div id="map-canvas"></div>
            <div id="overlay"></div>
            <div class="centered" id="formwrapper">
                <div id="form">
                    <div id="title">
                        <h1>run sf</h1>
                        <h2>run smarter, not harder</h2>
                    </div>
                    <div id="logo"><img src="../static/logo.png"></div>
                    <label>start:</label><input type="text" class="formfield" placeholder="starting address" name="start" id="address">
                    <div class="subtext">san francisco, ca</div>
                    <label>distance:</label><input type="text" class="formfield" placeholder="" name="end" id="distance"><span class="small">miles</span>
                    <input type="text" name="lat" id="lat">
                    <input type="text" name="lon" id="lon">        
                    <div class="buttons">
                        <button id="loop">loop route ></button>
                        <button id="outandback">out-and-back ></button>
                    </div>
                </div>
            </div>
            <div class="centered" id="loader">
                <ul class="spinner">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div id="message">
                    <p id="msg">please wait while we find you a route...</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../static/js/maps_render.js"></script>
        <script>

            var myGlobalProperties = function(eventCollection) {
                var globalProperties = {
                    page: window.location.href,
                    time: new Date().toISOString(),
                    referrer: document.referrer,
                    agent: window.navigator.userAgent
                };
                return globalProperties;
            };
            Keen.setGlobalProperties(myGlobalProperties);

            var trackRequests = function(reqloc, lat, lon, dist) {
                var request = {
                    requestlocation: reqloc,
                    geolocation: {
                        coords: [lat, lon]
                    },
                    distance: dist
                };
                Keen.addEvent("requests", request);
            };

            var trackResults = function(result) {
                var result = {
                    route: result.coords,
                    dist: result.distance,
                    gain: result.gain
                };
                Keen.addEvent("results", result);
            };

            var failRequests = function(loc, dist) {
                var failure = {
                    location: loc,
                    distance: dist
                };
                Keen.addEvent("failures", failure)
            }

            var messages=[
                "go tie your shoes and stretch or something!",
                "how's the weather out today?",
                "hang tight, still working on it...",
                "reticulating splines...",
                "betcha i can make this route faster than you can run it."]
            function replaceMessage(msgs) {
                var i = Math.floor(Math.random() * msgs.length);
                $('#msg').html(msgs[i]);
            }

            function metaData(dist, gain) {
                routeData = document.createElement("ul");
                routeData.id = "thisroute"
                routeDist = document.createElement("li");
                routeDist.innerHTML = "DISTANCE: " + dist + " miles";
                routeGain = document.createElement("li");
                routeGain.innerHTML = "GAIN: " + gain + " feet";
                routeData.appendChild(routeDist)
                routeData.appendChild(routeGain)
                $('#routeinfo').append(routeData);
            }

            var geocoder = new google.maps.Geocoder();
            var lat;
            var lon;
            function drawRoute(routeType) {
                // geocode address
                var address = document.getElementById("address").value;
                var southWest = new google.maps.LatLng(37.705295, -122.512788);
                var northEast = new google.maps.LatLng(37.811928, -122.360649);
                var bounds = new google.maps.LatLngBounds(southWest, northEast);
                geocoder.geocode( { "address": address, "bounds": bounds }, function(results, status) {
                var distNaN = isNaN(document.getElementById("distance").value);
                if (37.705295 <= results[0].geometry.location.k &&
                    results[0].geometry.location.k <= 37.811928 &&
                    -122.512788 <= results[0].geometry.location.A &&
                    results[0].geometry.location.A <= -122.360649) {
                    var isInBounds = true;
                } else {
                    var isInBounds = false;
                }
                if (address != '' && status == google.maps.GeocoderStatus.OK && distNaN == false && isInBounds == true) {
                    $('#thisroute').remove();
                    $('#formwrapper').fadeOut(40);            
                    $('#loader').fadeIn(40);
                    window.setInterval(function(){
                        replaceMessage(messages);
                    },8000);
                    lat = results[0].geometry.location.k;
                    lon = results[0].geometry.location.A;
                    var distance = document.getElementById("distance").value;
                    trackRequests(address, lat, lon, Number(distance));
                    // post start + distance to flask app
                    $.post( "/", {lat: lat, lon: lon, distance: distance, routeType: routeType}).done(function(data){
                        route = JSON.parse(data);
                        trackResults(route);
                        $('#loader').fadeOut();
                        $('#overlay').fadeOut();
                        $('#reset').fadeIn();
                        render(route.coords);
                        metaData(route.distance, route.gain);
                        $('#routeinfo').fadeIn();
                    });

                } else {
                    failDist = document.getElementById("distance").value;
                    failRequests(address, failDist);
                    if (status != google.maps.GeocoderStatus.OK) {
                        $('#address').val('').attr("placeholder", "that doesn't look quite right...").addClass('help');
                    } else if (address == '' || isInBounds == false) {
                        $('#address').val('').attr("placeholder", "try somewhere in san francisco?").addClass('help');
                    }
                    if (distNaN == true) {
                        $('#distance').val('').attr("placeholder", "??").addClass('help');
                    }
                }
                });
            }

            function resetForm() {
                // Resets input form upon clicking reset button. Doesn't yet clear 
                //   rendered route just in case user presses ESC to view again.
                $('#overlay').fadeIn();
                $('#title').css('visibility','hidden');
                $('#address').val('').attr("placeholder", "starting address").removeClass('help');
                $('#distance').val('').attr("placeholder", "").removeClass('help');
                $('#formwrapper').fadeIn();
            }

            $('#loop').click(function() {
                drawRoute('loop');
                // $('routeinfo').fadeIn();
            });

            $('#outandback').click(function() {
                drawRoute('outandback');
                // $('routeinfo').fadeIn();
            });

            $('#reset').click(function() {
                resetForm();
                $('#routeinfo').fadeOut(); 
                $('#reset').fadeOut();               
                $(document).on('keyup.escape', function(e) {
                    if (e.keyCode == 27) {
                        $('#overlay').fadeOut();
                        $('#formwrapper').fadeOut();
                        $('#routeinfo').fadeIn();
                        $('#reset').fadeIn();
                    }
                });
                $('#loop, #outandback').click(function() {
                    clearRoute();
                    $(document).unbind('keyup.escape');
                });
            });
        </script>
    </body>
</html>