<!DOCTYPE html>
<html>
    <head>
        <title>runSF</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="map-canvas"></div>
        <div id="overlay"></div>
        <div class="centered" id="formwrapper">
            <div id="form">
                <div id="title">
                    <h1>run sf</h1>
                    <h2>run smarter, not harder</h2>
                </div>
                <div id="logo"><img src="../static/logo.png"></div>
                <label>start:</label><input type="text" class="formfield" placeholder="starting address" name="start" id="address">
                <div class="subtext">san francisco, ca</div>
                <label>distance:</label><input type="text" class="formfield" placeholder="" name="end" id="distance"><span class="small">miles</span>
                <input type="text" name="lat" id="lat">
                <input type="text" name="lon" id="lon">        
                <button id="go">find route ></button>
            </div>
        </div>
        <div class="centered" id="loader">
            <ul class="spinner">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="message">
                <p id="msg">please wait while we find you a route...</p>
            </div>
        </div>
        <div id="reset">&larr;</div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="../static/js/maps_render.js"></script>
        <script>
            var messages=[
                "go tie your shoes and stretch or something!",
                "how's the weather out today?",
                "hang tight, still working on it...",
                "reticulating splines...",
                "betcha i can make this route faster than you can run it."]
            function replaceMessage(msgs) {
                var i = Math.floor(Math.random() * msgs.length);
                $('#msg').html(msgs[i]);
            }
            var geocoder = new google.maps.Geocoder();
            var lat;
            var lon;
            function drawRoute() {
                // geocode address
                var address = document.getElementById("address").value;
                var southWest = new google.maps.LatLng(37.705295, -122.512788);
                var northEast = new google.maps.LatLng(37.811928, -122.360649);
                var bounds = new google.maps.LatLngBounds(southWest, northEast);
                geocoder.geocode( { "address": address, "bounds": bounds }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    lat = results[0].geometry.location.k;
                    lon = results[0].geometry.location.A;
                    var distance = document.getElementById("distance").value;
                    // post start + distance to flask app
                    $.post( "/", {lat: lat, lon: lon, distance: distance}).done(function(data){
                        route = JSON.parse(data);
                        $('#loader').fadeOut();
                        $('#overlay').fadeOut();
                        $('#reset').fadeIn();
                        render(route.coords);
                    });

                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
                });
            }
            function resetForm() {
                $('#overlay').fadeIn();
                $('#title').css('visibility','hidden');
                document.getElementById('address').value='';
                document.getElementById('distance').value='';
                $('#formwrapper').fadeIn();
            }

            $('#go').click(function() {
                drawRoute();
                $('#formwrapper').fadeOut(40);            
                $('#loader').fadeIn(40);
                window.setInterval(function(){
                    replaceMessage(messages);
                },8000);
            });
            $('#reset').click(function() {
                resetForm();
                $(document).on('keyup.escape', function(e) {
                    if (e.keyCode == 27) {
                        $('#overlay').fadeOut();
                        $('#formwrapper').fadeOut();
                    }
                });
                $('#go').click(function() {
                    directionsDisplay.setMap(null);
                    $(document).unbind('keyup.escape');
                });
            });
        </script>
    </body>
</html>